.p-datepicker-trigger {
  border-radius: 0 !important;
}

.w-100.p-calendar .p-inputtext {
  background: transparent;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #334155;
  outline: none;
  border-radius: 5px !important;
}

.w-100.p-calendar .p-inputtext::placeholder {
  color: #94a3b8;
}

.w-100.p-calendar .p-datepicker-trigger {
  background: var(--primary-color) !important;
  border: none !important;
  width: 35px !important;
  border-radius: 0 !important;
}

.p-button.p-button-icon-only {
  border-radius: 0 !important;
}

.w-100.p-calendar .p-datepicker-trigger .p-icon {
  color: white !important;
}
.p-datepicker-next,
.p-datepicker-prev {
  color: white !important;
}

.w-100.p-calendar .p-datepicker-trigger .p-icon path {
  fill: white !important;
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background: var(--primary-color);
}
.p-datepicker table td.p-datepicker-today > span.p-highlight {
  background: var(--primary-color) !important;
}
.p-datepicker-month,
.p-datepicker-year {
  color: white !important;
  font-weight: bold !important;
}

/* Agregar contexto de z-index elementos superpuestos datapicker*/

.p-datepicker {
  z-index: 10000 !important; /* Valor muy alto para asegurar que esté por encima */
  position: absolute !important;
}

/* Si hay algún elemento padre que pueda estar interfiriendo */
.p-datepicker.p-component.p-connected-overlay-enter-done {
  z-index: 10000 !important;
}

/* Para asegurar que ningún otro elemento lo tape */
.p-datepicker * {
  position: relative;
  z-index: inherit;
}

.p-datepicker[style*="z-index"] {
  z-index: 10000 !important;
}
/* Agregar contexto de z-index elementos Fin superpuestos datapicker*/

/* Estados adicionales para consistencia */
.w-100.p-calendar:focus-within {
  border-radius: 0 !important;
  border-bottom-left-radius: 1% !important;
  border-bottom-right-radius: 1% !important;
  border-top-left-radius: 1% !important;
  border-top-right-radius: 1% !important;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #1a99fb;
  border-color: #1a99fb;
}

.w-100.p-calendar .p-inputtext:focus {
  box-shadow: none !important;
}
