.p-dropdown-trigger {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: var(--primary-color) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 35px;
  height: auto;
}

.p-dropdown-trigger:focus,
.p-dropdown-trigger:active,
.p-dropdown-trigger:hover {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.p-dropdown-trigger-icon {
  color: white !important;
  filter: none !important;
}

.p-dropdown-trigger-icon path {
  fill: white !important;
  stroke: none !important;
}

.p-dropdown-trigger::before,
.p-dropdown-trigger::after {
  display: none !important;
}
.p-hidden-accessible {
  overflow: none !important;
}

.p-dropdown-clear-icon {
  margin-right: 20px !important;
}

.w-100.p-dropdown .p-dropdown-trigger {
  position: relative !important;
  z-index: 2 !important;
}

.w-100.p-dropdown .p-dropdown-trigger::before {
  content: "" !important;
  top: -2px !important;
  bottom: -2px !important;
  left: -2px !important;
  right: -2px !important;
  background: var(--primary-color) !important;
  border-radius: 10px 10px 10px 10px !important;
  width: 20% !important;
  z-index: -1 !important;
  border: none !important;
}

/*Dropdown Facturas de Ventas Inicio */
.dropdown-billing.p-dropdown .p-dropdown-trigger {
  height: 100%;
}

.dropdown-billing-product.p-dropdown .p-dropdown-trigger {
  width: 20%;
  height: 100%;
}
.dropdown-billing-product .p-dropdown-clear-icon {
  margin-right: 10px !important;
}

.dropdown-billing-products.p-dropdown .p-dropdown-trigger {
  width: 15%;
  height: 100%;
}
.dropdown-billing-retention.p-dropdown .p-dropdown-trigger {
  width: 3vw;
  height: 100%;
}
.dropdown-billing-retention .p-dropdown-clear-icon {
  margin-right: 30px !important;
}

.dropdown-billing-discount.p-dropdown .p-dropdown-trigger {
  width: 40%;
  height: 100%;
}

/*Dropdown Facturas de Ventas Fin */

/*Dropdown Comprobantes Contables Inicia*/

.dropdown-accounting-voucher {
  width: 100vw;
  height: auto;
}
.dropdown-accounting-voucher.p-dropdown .p-dropdown-trigger {
  width: 3vw;
  height: auto;
}
/*Dropdown Comprobantes Contables Fin */

/*Dropdown Citas Inicia*/

.dropdown-appointment.p-dropdown .p-dropdown-trigger {
  width: 20%;
  height: auto !important;
}
/*Dropdown Citas Finaliza*/
.dropdown-document.p-dropdown .p-dropdown-trigger{
  width: 10%;
  height: auto !important;
}
.dropdown-document .p-dropdown-clear-icon {
  margin-right: 4rem !important;
}
.dropwdow-content-type {
  min-width: 240px !important;
}

@media (max-width: 480px) {
  .w-100.p-dropdown .p-dropdown-trigger {
    height: 100%;
  }
  .p-dropdown-clear-icon {
    margin-right: 10px !important;
  }

  div[data-pc-section="panel"] {
    top: 0px !important;
  }
}
