.container-small {
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 15px !important;
  margin: 0 !important;
}

.content {
  padding: calc(var(--phoenix-navbar-top-height) + 0.2rem) 1.5rem 6.375rem 1.5rem; 
  background: radial-gradient(circle at 10% 10%, rgba(245, 247, 250, 0.8), rgb(223 223 223 / 30%) 70%);
  min-height: 100vh;
  width: 100%;
}



@media (max-width: 480px) {
.content{
 padding: calc(var(--phoenix-navbar-top-height) + 0.1rem) 0.1rem !important;
}

}